[Unit]
Description=Puma HTTP Server for Redmine
After=network.target

[Service]
User= {{ redmine_user }}
Group= {{ redmine_group }}
WorkingDirectory=/opt/redmine
Environment=RAILS_ENV=production
ExecStart=/home/{{ redmine_user }}/.asdf/shims/bundle exec rails server -e production -b 0.0.0.0 -p 3001
Restart=always
RestartSec=5
StartLimitIntervalSec=10
StartLimitBurst=5

[Install]
WantedBy=multi-user.target

